<nav>
    <div class ="site-title">
        <a href="/"><h1>Wagg.ly | <%=pageTitle%> </h1></a>
        <p>Dogwalking Services</p>
    </div>
    <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/dog">Dogs</a></li>
        <li><a href="/walker">Walkers</a></li>
        <li><a href="/dogAdd">Dog Registration</a></li>
    </ul>
</nav>