<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <div Class="PageControl">
      <div class = "FocusContainer">
        <header>
            <h1 id = "HPh1Hp"> Home Page </h1>
          </a>
        </header>

        <body>

          <div class="container">
              <a id = "HPbtnCe" href = "/ColourExt" class = "button">Submit A Photo</a>
              <h2 id = "HPh2As">Alternatively Select:</h2>
          </div>
          <div class="container" id = "LowerContainer">
            <nav>
              <a id ="navHome" href = "/" class = "button" >Home</a>

              <a id ="navDog" href = "/dog" class = "button" >Dog</a>
              
              <a id ="navWalker" href = "/walker" class = "button" >Walker</a>
            </nav>

          </div>

      </div>
      </body>

    </html>