<html lang = "en">
    <%- include('./partials/header.ejs') %>

    <body>
        
        <%- include('./partials/nav.ejs') %>

        <div class="HomePage">
            <h1>Welcome To Wagg.ly</h1>
            <br>
            <h2>Use the Nav to View and Register</h2>
        </div>
    </body>
</html>