<html lang = "en">
    <%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="Walker list">
            <h2>Dog Walkers Listed</h2>

        </div>
    </body>
</html>